@using LisansProje.Models
@model List<Urun>
@{
    ViewData["Title"] = "UrunGetir";
    Layout = "~/Views/Shared/_LayoutFirma.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ürün Getir</title>
</head>
<body>
    <div class="container-fluid">
        <div class="toolbar" id="kt_toolbar">
            <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
                <div class="title col-12 text-center">
                    <h3 class="text-primary"><span id="title">Ürün Listesi</span></h3>
                </div>
            </div>
        </div>

        <div class="card" style="margin-top:5rem;border:0">           
            <div style="padding:15px">
                <table id="UrunTablosu" class="table table-bordered  gy-5 gs-7" style="width:100%">
                    <thead>
                        <tr class="fw-bold fs-6 text-gray-800">
                            <th>ÜRÜN ADI</th>
                            <th>WEB SİTESİ</th>
                            <th>PROTOKOL NUMARASI</th>
                            <th>SERVİS URL</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>                  
            </div>
        </div>
    </div>
</body>

</html>


