.gradient-custom {
    /* fallback for old browsers */
    background: #0c1e9c;
    /* Chrome 10-25, Safari 5.1-6 */
    /*background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));*/
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
*/
}

.Error{
    color:red;
}

.error-message {
    color: red;   
}

select {
    width: 250px;
    height:30px;
    margin-top:30px;
}

.e{
    margin-top:30px;
}
